﻿<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <link rel="Bookmark" href="{{admin_resource_url}}/favicon.ico">
    <link rel="Shortcut Icon" href="{{admin_resource_url}}/favicon.ico"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{{admin_resource_url}}/lib/html5shiv.js"></script>
    <script type="text/javascript" src="{{admin_resource_url}}/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{admin_resource_url}}/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{admin_resource_url}}/static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="{{admin_resource_url}}/lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="{{admin_resource_url}}/static/h-ui.admin/skin/default/skin.css"
          id="skin"/>
    <link rel="stylesheet" type="text/css" href="{{admin_resource_url}}/static/h-ui.admin/css/style.css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="{{admin_resource_url}}/lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>管理 - {{app_name}} - H-ui.admin v3.1</title>
    <meta name="keywords" content="后台管理">
    <meta name="description" content="后台管理">
</head>
<body>
<header class="navbar-wrapper">
    <div class="navbar navbar-fixed-top">
        <div class="container-fluid cl"><a class="logo navbar-logo f-l mr-10 hidden-xs"  data-href="/admin/index/welcome" data-title="我的桌面">{{app_name}}</a>
            <a class="logo navbar-logo-m f-l mr-10 visible-xs" data-href="/admin/index/welcome" data-title="我的桌面" >{{app_name}}</a>
            <span class="logo navbar-slogan f-l mr-10 hidden-xs">{{version}}</span>
            <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:;">&#xe667;</a>
            <nav class="nav navbar-nav">
                <ul class="cl">
                    {% for menu_key,menu_detail in menu %}
                    <li class="dropDown dropDown_hover">
                        <a onclick="show_menu('{{menu_key}}')" href="javascript:void(0);"><i class="Hui-iconfont">{{menu_detail.icon|raw}}</i>{{menu_detail.title}}</a>
                    </li>
                    {% endfor %}
                    <li class="dropDown dropDown_hover"><a href="javascript:;" class="dropDown_A"><i
                            class="Hui-iconfont">&#xe6f1;</i> 快捷 <i class="Hui-iconfont">&#xe6d5;</i></a>
                        <ul class="dropDown-menu menu radius box-shadow">
                            <li><a href="/" target="_blank"><i class="Hui-iconfont">&#xe616;</i> 前台</a></li>
                            <li><a href="https://github.com/dcrphp/core/wiki" target="_blank"><i class="Hui-iconfont">&#xe633;</i>
                                帮助</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
                <ul class="cl">
                    <li class="hidden">超级管理员</li>
                    <li class="dropDown dropDown_hover">
                        <a href="#" class="dropDown_A">{{username}} <i class="Hui-iconfont">&#xe6d5;</i></a>
                        <ul class="dropDown-menu menu radius box-shadow">
                            <li><a href="javascript:;" onclick="password_edit('改密码','/admin/user/password-edit-view','','510')">改密码</a></li>
                            <li><a href="/admin/index/logout">退出</a></li>
                        </ul>
                    </li>
                    <li id="Hui-msg" class="hidden"><a href="#" title="消息"><span class="badge badge-danger">1</span><i
                            class="Hui-iconfont" style="font-size:18px">&#xe68a;</i></a></li>
                    <li id="Hui-skin" class="dropDown right dropDown_hover"><a href="javascript:;" class="dropDown_A"
                                                                               title="换肤"><i class="Hui-iconfont"
                                                                                             style="font-size:18px">&#xe62a;</i></a>
                        <ul class="dropDown-menu menu radius box-shadow">
                            <li><a href="javascript:;" data-val="default" title="默认(蓝色)">默认(蓝色)</a></li>
                            <li><a href="javascript:;" data-val="black" title="黑色">黑色</a></li>
                            <li><a href="javascript:;" data-val="green" title="绿色">绿色</a></li>
                            <li><a href="javascript:;" data-val="red" title="红色">红色</a></li>
                            <li><a href="javascript:;" data-val="yellow" title="黄色">黄色</a></li>
                            <li><a href="javascript:;" data-val="orange" title="橙色">橙色</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<aside class="Hui-aside">
    <div class="ml-10 menu_dropdown bk_2">
        <!--这里通过/app/Admin/Config/Menu.php配置-->
        {% for menu_key,menu_detail in menu %}
        <ul id="{{menu_key}}" class="hidden menu_item">
            {% for sub1 in menu_detail.sub %}
            <li>
                <a style="line-height: 32px;padding-left: 10px;border-bottom: none;font-weight: bold;" data-href="{{sub1.url}}" data-title="{{sub1.title}}" href="javascript:;">{{sub1.title}}</a>
            </li>
                {% for sub2 in sub1.sub %}
                <li>
                    <a style="line-height: 32px;padding-left: 20px;border-bottom: none;font-weight: normal;" data-href="{{sub2.url}}" data-title="{{sub2.title}}" href="javascript:;">{{sub2.title}}</a>
                </li>
                {% endfor %}
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>
</div>
<section class="Hui-article-box">
    <div id="Hui-tabNav" class="Hui-tabNav hidden-xs">
        <div class="Hui-tabNav-wp">
            <ul id="min_title_list" class="acrossTab cl">
                <li class="active">
                    <span title="我的桌面" data-href="welcome.html">我的桌面</span>
                    <em></em></li>
            </ul>
        </div>
        <div class="Hui-tabNav-more btn-group">
            <a id="js-tabNav-prev" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d4;</i></a>
            <a id="js-tabNav-next" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d7;</i></a>
        </div>
    </div>
    <div id="iframe_box" class="Hui-article">
        <div class="show_iframe">
            <div style="display:none" class="loading"></div>
            <iframe scrolling="yes" frameborder="0" src="/admin/index/welcome"></iframe>
        </div>
    </div>
</section>

<div class="contextMenu" id="Huiadminmenu">
    <ul>
        <li id="closethis">关闭当前</li>
        <li id="closeall">关闭全部</li>
    </ul>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="{{admin_resource_url}}/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{{admin_resource_url}}/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="{{admin_resource_url}}/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="{{admin_resource_url}}/static/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="{{admin_resource_url}}/lib/jquery.contextmenu/jquery.contextmenu.r2.js"></script>
<script type="text/javascript">
    /*个人信息*/
    function password_edit(title, url) {
        layer_show(title, url, 500, 300);
    }
    function show_menu(key){
        $('.menu_item').each(function(index){
            $(this).attr('class','hidden menu_item');
            //console.log($(this))
        });
        $('#'+key).attr('class','show menu_item');
    }
    show_menu('user');
</script>
</body>
</html>