<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <title>后台管理</title>
  {% include 'common/header.html' ignore missing %}
  <link href="{{admin_resource_url}}/static/dcr/login.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="login_box">
  <div class="login_l_img"><img src="{{admin_resource_url}}/static/dcr/images/login-img.png" /></div>
  <div class="login">
    <div class="login_logo"><a href="#"><img src="{{admin_resource_url}}/static/dcr/images/login_logo.png" /></a></div>
    <div class="login_name">
      <p>后台管理系统</p>
    </div>
    <form id="frm" method="post" action="/admin/index/login">
      <input name="username" type="text" placeholder="用户名" value="">
      <input name="password" type="password" id="password" placeholder="密码">
      {% if '是' == captcha_use %}
      <div>
        <input name="captcha" type="text"  value="" placeholder="验证码" style="float:left; width:150px;">
        <img class="ml-10" style="float:left;" src="/admin/captcha/output?width=140&height=50">
      </div>
      {% endif %}
      <input value="登录" style="width:100%;" type="submit">
    </form>
  </div>
  <div class="copyright">基于DCRPHP引擎实现低代码、集群、前后端分离的应用系统</div>
</div>
{% include '/common/footer.html' ignore missing %}
<script type="text/javascript" src="{{admin_resource_url}}/lib/Validform_v5.3.2_min.js"></script>
<script type="text/javascript">
  $("#frm").Validform({tiptype:3});
  function show_msg(){
    layer.msg('a');
  }
</script>
{% if error_msg is defined %}
<script type="text/javascript">
    layer.msg('{{error_msg}}');
</script>
{% endif %}
</body>
</html>
