[config]
DB_TYPE="mysql"
MYSQL_DRIVER="mysql"
MYSQL_HOST="127.0.0.1"
MYSQL_PORT="3306"
MYSQL_DATABASE="dcrphp"
MYSQL_USERNAME="dcrphp"
MYSQL_PASSWORD="dcrphp"
MYSQL_CHARSET="utf8"
ADMIN_RESOURCE_URL="/resource/houtai/"
APP_RESOURCE_URL="/resource/help/"

CACHE_ENABLE=0
CACHE_DRIVER=file
FILE_CACHE_PATH=public/storage/cache

LOG_CHANNEL=dcrphp
LOG_DRIVER=file
LOG_DRIVER_ERROR=file
FILE_LOG_PATH = storage/log.log
DIRECTORY_LOG_PATH=storage/log
DIRECTORY_LOG_PREFIX=php
DIRECTORY_LOG_GENERAL=hour