[config]
DB_TYPE="mysql"
MYSQL_DRIVER="mysql"
MYSQL_HOST="127.0.0.1"
MYSQL_PORT="3306"
MYSQL_DATABASE="dcrphp"
MYSQL_USERNAME="dcrphp"
MYSQL_PASSWORD="dcrphp"
MYSQL_CHARSET="utf8"
ADMIN_RESOURCE_URL="/resource/houtai/"
APP_RESOURCE_URL="/resource/help/"
CACHE_DRIVER=file