<!DOCTYPE HTML>
<html>
<head>
    {% include 'common/header.html' ignore missing %}
    <style>
        .search{}
        .search input{
            width: 150px;
        }
        .search input[type="radio"]{
            width: auto;
        }
        .search input[type="checkbox"]{
            width: auto;
        }
    </style>
</head>
<body>

{% include 'common/navigate.html' ignore missing %}
<div class="page-container">
    <div class="search">
        <form action="#" method="get">
            {% for search in search_col %}
                {{search.title}}: {{search.html|raw}}
            {% endfor %}
            <button type="submit" class="btn btn-success radius"><i class="Hui-iconfont">&#xe665;</i> 搜索
            </button>
        </form>
    </div>
    <div class="Huialert Huialert-info mt-10">本列表可以在[系统配置/单表配置]的[{{key}}]条目下配置，字段前有[编辑]标志，则说明可以双击编辑</div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        {% if 1 == config.is_add or '是' == config.is_add %}
        <span class="l">
            <a href="javascript:;" onclick="open_iframe('添加','/admin/tools/table-edit-edit-view/add/{{config.keyword}}{{add_button_addition_html}}','{{config.edit_window_width}}','{{config.edit_window_height}}')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加</a>
            {{button_area_addition_html|raw}}
        </span>
        {% endif %}
        <span class="r">共有数据：<strong>{{user_num}}</strong> 条</span>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr>
                {% for col in list_col %}
                <th>{{col.title}}</th>
                {% endfor %}
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for info in list %}
            <tr>
                {% for col in list_col %}
                <td {% if 1 == config['col'][col.db_field_name]['is_list_edit'] %} ondblclick="change_field('{{config.table_name}}','{{info.id}}','{{col.db_field_name}}','{{info[col.db_field_name]}}','{{config['col'][col.db_field_name]['tip']}}')" {% endif %}>
                    {% if 1 == config['col'][col.db_field_name]['is_list_edit'] %}
                    <i class="Hui-iconfont">&#xe60c;</i>
                    {% endif %}
                    <span id="{{col.db_field_name}}_{{info.id}}">{{info[col.db_field_name]}}</span>
                </td>
                {% endfor %}
                <td class="td-manage">
                    {% if 1 == config.is_edit or '是' == config.is_edit %}
                    <a title="编辑" href="javascript:;"
                       onclick="open_iframe('编辑','/admin/tools/table-edit-edit-view/edit/{{key}}/{{info.id}}{{edit_button_addition_html}}','{{config.edit_window_width}}','{{config.edit_window_height}}')"
                       class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                    {% endif %}
                    {% if 1 == config.is_del or '是' == config.is_del %}
                    <a title="删除" href="javascript:;" onclick="del(this,'{{key}}','{{info.id}}')" class="ml-5"
                       style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                    {% endif %}
                    {{info.addition_option_html|raw}}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>{{pages|raw}}</div>
    </div>
</div>

{% include '/common/footer.html' ignore missing %}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">

    /*删除*/
    function del(obj, key, id) {
        layer.confirm('确认要删除吗？', function (index) {
            ajax('/admin/tools/table-edit-edit-ajax',"key=" + key + "&type=delete&id=" + id,'POST',
                function(result){
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!', {icon: 1, time: 1000});
                }
            )
        });
    }
    function change_field(table_name,id,field,current_value,tip){
        let title = '请填写新值：' + tip;
        layer.prompt({ formType:2, title:title, value: current_value, btnAlign:'l'},function(value,index,elem){
            layer.close(index);
            ajax('/admin/tools/table-edit-update-field-ajax',{table_name:table_name,id:id,field:field,value:value},'post',
                function(result){
                    $('#' + field + '_' + id).html(value)
                })
        });
    }
</script>
</body>
</html>